# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Environnements virtuels
# ===============================
venv/
.env/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# OS / Editor
# ===============================
.vscode/
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log
